{
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "plugins": ["react"],
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "brace-style":"off",
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/no-unused-prop-types": 2,
    "indent": ["error", 2],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "exhaustive-deps": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".json", ".native.js"]
      }
    }
  },
  "env": {
    "browser": true
  }
}